.PassengerButton {
    min-width: 100%;
    margin-top: 0%;
    height: 105%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px;
    border-style: solid;
    color: rgb(196, 193, 193);
    border-radius: 4px;
    cursor: pointer;
}

.PassengerButton:hover {
    border-color: black;
}

.PassengerButton:checked {
    cursor: pointer;
}